<%= form_for(dolist_filter_path(@dolist), url:dolist_filter_path(@dolist), method: 'get', local: true) do %>
  <p> Filter: </p>
  <div class="row">
    <%= label      'filter', :tags, "Tags:" %>
    <%= collection_select 'filter', :tag_id, Tag.all, :id, :name,
      params[:filter].nil? ? {} : { selected: params[:filter][:tag_id] }
    %>

    <%= label      'filter', :status, "Status:" %>
    <%=select("filter", :status, { "Done":true, "Not done":false } , params[:filter].nil? ? {} : { selected: params[:filter][:status] })%>

    <%= label      'filter', :date, "Date:" %>
    <%= date_field 'filter', :date, value: Date.today %>
  </div>
  <%=submit_tag "Apply" , class: "btn btn-primary"%>
<% end %>
