<li>
 <div class="row">
    <section class= "col">
      Task: <%= todo.description %>
      <p>Tags: <%= todo.all_tags%></p>
    </section>
    <section class= "col">
      <% if todo.done %>
        <span class="badge badge-success">
          Done
        </span> 
      <% else%>
        <%= link_to "Done", todo, method: :put, class: "btn btn-primary"%>
      <% end %>
    </section>
    <section class="col">
      <%= form_with(model: todo, method: :put ) do |f| %>
        <%= f.label  :dolist_id, "Lista para mover:" %>
        <%= f.select :dolist_id, current_user.dolists.collect { 
          |l| 
          if l.id != @dolist.id 
            [l.name, l.id]
          end  
          } %>
        <%= f.submit "Move", class: "btn btn-primary"%>
      <% end %>
    </section>
    <span class="timestamp">
        Created at <%= time_ago_in_words(todo.created_at) %> ago.
        <%= link_to "X", todo, method: :delete, class: "btn btn-secundary", 
                           data: { confirm: "You sure?" } %>
    </span>
 </div>
</li>